@charset "utf-8";

div.container {
    width: 800px;
    /* line-height: 1em; */
}

.container p {
    margin-bottom: 4px;
}

textarea {
    width: 100%;
    height: 300px;
    margin: 0;
}

nav {
    margin: 0;
}

fieldset {
    margin-bottom: 10px;
}

label {
    margin: 10px 5px;
}